{% extends 'base.html.twig' %}
{% block title %}Inicio{% endblock %}

{% block body %}
    <header>
        <nav>
            <ul>
                <li>
                    {{ app.user.email }}
                </li>
                <li>

                </li>
            </ul>
        </nav>
        <h1>Foro</h1>
    </header>

    <h2>Posts</h2>
    {% if posts %}
        {% for post in posts %}
            {{ include ('partials/datos_post.html.twig', {'post': post}) }}
            <hr>
        {% endfor %}
    {% else %}
        <p>No se han encontrado posts</p>
    {% endif %}
{% endblock %}
