{% extends 'base.html.twig' %}
{% block title %} Inicio {% endblock %}

{% block body %}
    <header>
        <h1>BLOG PERSONAL</h1>
        <P>En esta página puedes compartir cualquier idea que tengas en tu cabeza y compartirla con la comunidad</P>
    </header>
{% endblock %}