{% extends 'base.html.twig'%}
{% block title %}Posts{% endblock %}
{% block body %}
    <h2>Posts</h2>
    {% if posts %}
        {% for post in posts %}
            {{ include ('partials/datos_post.html.twig', {'post': post}) }}
            <hr>
        {% endfor %}
    {% else %}
        <p>No se han encontrado posts</p>
    {% endif %}
{% endblock %}